.custom-table-container {
    width: 80%;
    max-width: 600px;
  }
  
  .custom-table {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table thead th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody td {
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
  
  .custom-table tbody td:first-child {
    text-align: left;
  }
  
  .custom-table-container h2 {
    color: #333;
  }